<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unitconvertor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitConvertor">
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ConvertorActivity"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="true" />
        <activity
            android:name=".FavoritesActivity"
            android:exported="true" />
        <activity
            android:name=".RatesActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".NotifacationIntentService"
            android:exported="false"></service>

        <service
            android:name=".NotifactionIntentService"
            android:exported="false" />
        <service
            android:name=".NotifacationReceiver"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>